<div><img  class="images" width="120" height="120" src="./assets/Images/logo.jpg"/></div>

<div class="card">
    <h2 class="card-header">Pizza Delivery</h2>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Welcome to pizza delivery service. This is the place where you will choose
          the most delicious pizza of your choice from wide variety of options !</p>
          <hr>
          <p class="card-text">We are performing delivery free of charge in case your order value is higher than 20$ !!</p>
      <a routerLink="/login" class="btn btn-primary">Login and Order</a>
    </div>
  </div>
